
.playground{
    background: #ecf0f1;
    width: 95%;
    height: 500px;

}

.pep{
  background: #3498db;
  height: 10%; width: 10%;
}

.form_text_entry {
    font-weight: 700;
    font-size: 18px;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 1);
}

.selecter {
     max-width:100% !important;
}

#profileForm .form-control-feedback {
    float: right;
}
